<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>javaweb200610tieba</display-name>
  <error-page>
    <error-code>404</error-code>
    <location>/error/404.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/error/500.jsp</location>
  </error-page>
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>org.jgs1905.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>org.jgs1905.filter.LoginFilter</filter-class>
    <init-param>
      <param-name>excludePage</param-name>
      <param-value>/post/list.jsp,/post/detail.jsp,/user/login.jsp,/user/regist.jsp,/index.jsp,/</param-value>
    </init-param>
    <init-param>
      <param-name>excludeMethod</param-name>
      <param-value>/post?method=list,/post?method=detail,/user?method=login,/user?method=regist</param-value>
    </init-param>
    <init-param>
      <param-name>excludePath</param-name>
      <param-value>/error/*.jsp,/static/*</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>